#showAlert1{
	display:none;
	font-size: 20px;
margin-left: 25%;
}
#showAlert{
	font-size: 20px;
margin-left: 25%;
	display:none;
}
#showAlert2{
	
	font-size: 20px;
	margin-left: 25%;
	display:none;
}

.css-alert-insert{
	margin-top: 140px;
}
.menu-text{
	font-size: 18px;
	margin-top: 5px;
}

.navbar-default .navbar-nav>li>a{
	color: white !important;
}

.header-row {
    font-size: 1.1em;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #EBCCD1;
    color: #fff;
    border: 0px solid #98bf21;
    padding: 3px 7px 2px 7px;
}
#table tr.alt td{
	background-color: #EBCCD1;
}
.last-born-tittle{
	text-align: center !important;
}
#table-css{
	    margin-bottom: 10px;
    margin-top: 45px;
    margin-left: 40%;
    font-size: 20px;
}

.navbar-brand{
	width: 155px;
	height: 55px;
	background-image: url("pictures/logo.png");
	
}

.navbar-default {
		background-color: rgb(235, 204, 209) !important;
}
.cell{
	    font-size: 1.0em;
    border: 1px solid #E6D2D6;
    padding: 3px 7px 2px 7px;
}
footer{
	margin-top: 45%;
}
.tittle-register{
text-align: center;	
}

#search-input{
width:50%;
float: left;
border-bottom-right-radius: 0px;
border-top-right-radius: 0;	
}
#search-box{
	margin-left: 50px;
	margin-top:45px;
	height: 165px;
}

.btn-success{
	background-color: #ebccd1 !important;
    border-color: #ebccd1 !important;
}

#search-btn{
border-bottom-left-radius: 0px;
border-top-left-radius: 0px;
}
.tittle-choose-pacient{
	margin-top: 60px;
}

#btn-submit{
	width: 50%;
	margin-top:45px;
	margin-left:25%;
}

#footer{
 	margin-top: 45px;
	background-color: #f8f8f8;
    margin-bottom: 0 !important;
    border: 1px solid #E7E7E7 !important;
}

#insert-bebe{
	display:none;
	margin-top: 40px;
	
}
#insert-mae{
	margin-top:40px;	
}

 .table1{
 border: solid 2px navy;
 text-align: center;
 }

td{
 width: 100px;
    padding: 0px;
    border-top: 2px solid navy;
    margin: 0px;
}

.tittle{

	font-size: 28px;
	text-align: center;

}

.menu1{
	font-size: 14px;
	 position:absolute;
     left:50%;
	text-align: center;
	

}

ol{
	list-style-type: none;

}

li{
	height: 20px;
}

#configBtn{
	width: 100px;
	padding: 5px;
}